# file: .gitignore

#------------------------------------------------------------------------------
# ARTIFACTS DEVELOPMENT 
#------------------------------------------------------------------------------
src/__pycache__
src/internal/__pycache__

#------------------------------------------------------------------------------
# ARTIFACTS EDITOR 
#------------------------------------------------------------------------------
*.un~
*.org~

#------------------------------------------------------------------------------
# BUILD OR DIST
#------------------------------------------------------------------------------
# It's so lonely here...

#------------------------------------------------------------------------------
# DOCUMENTS AND NOTES
#------------------------------------------------------------------------------
CHANGELOG.md
docs/GDD.md
notes.md
notes.org

#------------------------------------------------------------------------------
# DRAFTS
#------------------------------------------------------------------------------
archive
*_py.txt

#------------------------------------------------------------------------------
# MISC
#------------------------------------------------------------------------------
src/data/images/background/level_0
src/data/images/entities/player/config.json
src/data/sfx/peaks
issues.md
issues.org
build/tiptoe
dist/src
tiptoe.tar.gz
