# .gitignore

# DIST

# DEV ARTIFACTS

src/__pycache__
src/internal/__pycache__

# DRAFTS

archive
notes.md

# MISC

src/data/sfx/peaks
src/__pycache__
src/data/images/entities/player/config.json
src/data/images/background/level_0
CHANGELOG.md
