# file: .gitignore

#------------------------------------------------------------------------------
# ARTIFACTS DEVELOPMENT
#------------------------------------------------------------------------------
.venv
__pycache__
# Since shell.nix on NixOS is special, we use its copy i.e. shell-example.nix for versioning
shell.nix

#------------------------------------------------------------------------------
# ARTIFACTS EDITOR
#------------------------------------------------------------------------------
*.un~
*.org~

#------------------------------------------------------------------------------
# BUILD OR DIST
#------------------------------------------------------------------------------
# It's so lonely here...

#------------------------------------------------------------------------------
# DOCUMENTS AND NOTES
#------------------------------------------------------------------------------
CHANGELOG.md
docs/GDD.md
notes.md
notes.org

#------------------------------------------------------------------------------
# DRAFTS
#------------------------------------------------------------------------------
archive
*_py.txt

#------------------------------------------------------------------------------
# MISC
#------------------------------------------------------------------------------
src/data/images/background/level_0
src/data/images/entities/player/config.json
src/data/sfx/peaks
issues.md
issues.org
build/tiptoe
dist/src
tiptoe.tar.gz

# TESTS
.hypothesis/examples
.hypothesis/unicode_data
src/internal/test_getting_started_hypothesis.py.txt
test_assets/
